<IfModule mod_rewrite.c>
    RewriteEngine On

    # Simpler RewriteBase without slashes
    RewriteBase /cosmos

    # Do not rewrite files or directories that physically exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite everything else to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
